/**
*** Author: Rachel Andrew
*** Altered to work with this project
*** https://codepen.io/rachelandrew/pen/PNwaZe
**/

/* declare a 7 column grid on the table */
#calendar {
	width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

caption {
	text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

#calendar a {
	color: #8e352e;
	text-decoration: none;
}

#calendar td, #calendar th {
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
}

.weekdays {
	background: #8e352e;  
}


.weekdays th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar td {
  overflow: hidden;
	min-height: 180px;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 4px;
	color: #000;
	width: 20px;
	border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end;
}

#calendar .event {
  flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
  text-decoration: none;
  cursor: pointer;
}

#calendar .event:hover {
  filter: brightness(95%);
}

#calendar .event-desc {
	color: #666;
	margin: 3px 0 7px 0;
	text-decoration: none;	
}

#calendar .event-pending {
  background: #f2f2e4;
	border: 1px solid #dcd8b5;
	color: #af9d00;
}

#calendar .event-approved {
	background: #e4f2e6;
	border: 1px solid #b5dcb5;
	color: #00af09;
}

#calendar .event-denied {
  background: #f2e4e4;
	border: 1px solid #dcb5b5;
	color: #af0000;
}


#calendar .other-month {
	background: #f5f5f5;
	color: #666;
}

#calendar .ineligible {
  background: repeating-linear-gradient(
  45deg,
  #f1f1f1,
  #ebebeb 10px,
  #d6d6d6 10px,
  #d4d4d4 20px
);
}

/* ============================
				Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
  #calendar, #calendar tr, #calendar tbody {
    grid-template-columns: 1fr;
  }
  
  #calendar  tr {
    grid-column: 1 / 2;
  }

	#calendar .date {
		align-self: flex-start;
	}
}